@page "/MusicCreate"
@inject IMusicRepo MusicRepo

<h3>Music Create</h3>
<EditForm Model="music" FormName="Hello" OnValidSubmit="createMusic">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div>
        <div>
            <label>Artist</label>
        </div>
        <div>
            <InputText @bind-Value="music.Artist"></InputText>
        </div>
        <div>
            <ValidationMessage For=@(() => music.Artist)"></ValidationMessage>
        </div>
    </div>
    <div>
        <div>
            <label>Album Title</label>
        </div>
        <div>
            <InputText @bind-Value="music.AlbumTitle"></InputText>
        </div>
    </div>
    <div>
        <div>
            <label>Description</label>
        </div>
        <div>
            <InputText @bind-Value="music.Description"></InputText>
        </div>
    </div>
    <div>
        <div>
            <label>Release Year</label>
        </div>
        <div>
            <InputNumber @bind-Value="music.ReleaseYear"></InputNumber>
        </div>
    </div>
    <div>
        <button type="submit">Opret Musik</button>
    </div>
</EditForm>

@code {
    // Only needs to have a name if multiple forms exists - otherwise use the variable instance name
    [SupplyParameterFromForm(FormName = "Hello")]
    public Music music { get; set; } = new Music();

    private async Task createMusic()
    {
        await MusicRepo.AddMusic(music); 
    }
}
